[submodule "Practice/2025/AITH/SakhnevichKirill/graph_crm"]
	path = Practice/2025/AITH/SakhnevichKirill/graph_crm
	url = D:\\Manuspect\\KnowledgeGrpahCourse\\Practice\\2025\\AITH\\SakhnevichKirill\\graph_crm
[submodule "Practice/2025/AITH/MariaGuzenko_PolinaDeryuga/graph_MariaGuzenko_PolinaDeryuga"]
	path = Practice/2025/AITH/MariaGuzenko_PolinaDeryuga/graph_MariaGuzenko_PolinaDeryuga
	url = D:\\Manuspect\\KnowledgeGrpahCourse\\Practice\\2025\\AITH\\MariaGuzenko_PolinaDeryuga\\graph_MariaGuzenko_PolinaDeryuga

