[submodule "Practice/2025/AITH/SakhnevichKirill/graph_crm"]
	path = Practice/2025/AITH/SakhnevichKirill/graph_crm
	url = D:\\Manuspect\\KnowledgeGrpahCourse\\Practice\\2025\\AITH\\SakhnevichKirill\\graph_crm
